.bg-main {
    background-color: $main-bg;
}

.bg-purple {
    background-color: $purple;
    font-size: 14px;
    font-weight: 600;
}

.light-text {
    color: #969696;
}

.pretty-subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: $text-color;
    .right {
        transform: rotate(180deg);
    }
}

.border-transparent {
    border: 2px solid transparent;
}

.border-yellow {
    border: 2px solid $yellow;
}

.text-purple {
    color: $purple;
}

.max-cats-width {
    max-width: 560px;
}

main{
    overflow: hidden;
}

.landing-page {
    width: 100vw;
    .contact {
        flex-wrap: wrap;
        .social-separate {
            width: 3px;
            height: 25px;
            background-color: #bbbbbb;
        }
        & > div{
            &.social-separate{
                margin-top: 15px;
            }
            &.email,&.whatsapp{
                padding-top: 15px;
            }
            *{
                font-size: 14px;
                font-weight: 600;
                color: $text-color;
            }
        }
    }
    .copyright {
        font-size: 13px;
        font-weight: normal;
        color: $text-color;
    }
    .logo{
        img{
            width: 198px;
            height: 270px;
        }
    }

    .title{
        h1{
            margin-top: 30px;
            margin-bottom: 0px;
            font-size: 30px;
            font-weight: bold;
            color: $text-color;
            letter-spacing: 0.1rem;
        }
        p{
            margin-top: 10px;
            color: #888;
            font-weight: normal;
            font-size: 14px;
            margin-bottom: 30px;
        }
    }

    .left-side {

    }

    .right-side {
        #selectCategoryAlert, #emailPhoneAlert {
            display: none;
        }

        .default-design {
            .cats {
                display: flex;
                gap: 10px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                .cat {
                    position: relative;
                    min-width: 104px;
                    max-width: 104px;
                    min-height: 114px;
                    max-height: 114px;
                    transition: border 0.5s ease-in-out;
                    border-radius: 4px;
                    border: 2px solid #DCDBEB;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
                    .text {
                        line-height: 1.3em;
                    }
                    .icon{
                        width: 40px;
                        height: 40px;
                        margin: 10px auto;
                    }
                    .category-checkbox {
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                        left: 0px;
                        height: 100%;
                        top: 0px;
                        cursor: pointer;
                        z-index: 10;
                    }

                    &::after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='490.434px' height='490.433px' viewBox='0 0 490.434 490.433' style='enable-background:new 0 0 490.434 490.433; fill:%23FFF;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M472.003,58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799,4.697L165.39,295.359l-66.312-57.112 c-21.775-18.753-54.536-16.707-73.804,4.611l-11.611,12.848c-9.416,10.413-14.305,24.149-13.595,38.18 c0.717,14.023,6.973,27.188,17.402,36.6l121.553,111.311c10.524,9.883,24.628,15.037,39.044,14.272 c14.416-0.763,27.894-7.386,37.311-18.329l262.245-304.71c9.162-10.646,13.717-24.494,12.661-38.496 C489.229,80.522,482.655,67.512,472.003,58.36z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                        background-color: $yellow;
                        padding: 5px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 25px;
                        height: 25px;
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;
                        background-size: 60% 60%;
                        border-top-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                    &:hover{
                        border-color: $yellow;
                    }
                    &.active {
                        border-color: $yellow;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .to-you{
            margin-bottom: 30px;
        }
        .to-your-surroundings{
            margin-bottom: 40px;
        }

        .confirm {
            margin-bottom: 10px;
            p {
                color: #888;
                font-weight: normal;
                font-size: 14px;
                margin-bottom: 30px;
                margin-bottom: 15px;
                max-width: 350px;
            }
            .input-group {
                input {
                    padding: 20px;
                    font-size: 14px;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }
                ::placeholder {
                    color: #BBB;
                    font-size: 14px;
                    font-weight: normal;
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    padding: 0px 20px;
                    background-color: rgba(77,64,255,0.7);
                    font-size: 14px;
                    span{
                        color: rgba(255,255,255,0.8);
                    }
                    &:hover{
                        background-color: rgba(77,64,255,1);
                        span{
                        color: rgba(255,255,255);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 777px){
    main{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(241,240,247,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f1f0f7",GradientType=1);
        min-height: 100vh;
    }
}

@media screen and(max-width: 777px) {
    .landing-page {
        .col-md-6 {
            min-height: 10px;
        }
    }
}

@media screen and (max-width: 415px) {
    .right-side {
        .contact {
            display: block !important;
            .social-separate {
                display: none !important;
            }
            div {
                text-align: center;
            }
        }
    }
}


@media screen and (min-width: 1200px) and (min-height: 650px){
    main{
        height: 100vh;  
        overflow: hidden;
    }
}