.bg-main{
    background-color: $main-bg;
}

.light-text{
    color: #969696;
}

.pretty-subtitle{
    .right{
        transform: rotate(180deg);
    }
}

.landing-page{
    .col-md-6{
        min-height: 100vh;
    }
    .left-side{
        .contact{
            .social-separate{
                width: 3px;
                height: 25px;
                background-color: #BBBBBB;
            }
        }
    }

    .right-side{
        .to-you{
            margin-top: 40px;
        }
    }
}
